@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
}
/* Header */

header img {
  background-color: hsl(180, 29%, 50%);
}

/* Card */

main {
  border: 1px solid red;
  width: 375px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.highlight {
  border-left: 5px solid hsl(180, 29%, 50%);
}

.company {
  display: flex;
}